<nav>
  <a href="/">Eleventy Page Links Plugin Demp</a>
  <ul>
    <ul>
      <li>
        <a href="#">List Types</a>
        <ul>
          <li><a href="/posts/simple/">Simple</a></li>
          <li><a href="/posts/ordered/">Ordered</a></li>
          <li><a href="/posts/unordered/">Unordered</a></li>
        </ul>
      </li>
       <li>
        <a href="#">Other Options</a>
        <ul>
          <li><a href="/posts/collapsible/">Collapsible</a></li>
          <li><a href="/posts/styled/">Styled</a></li>
          <li><a href="/posts/same-window/">Same Window</a></li>
        </ul>
      </li>
    </ul>    
  </ul>
</nav>
